* text=auto
*.txt text
*.md text
*.natvis text
*.c text
*.h text
*.cpp text
*.hpp text
*.inl text
*.lua text
*.bat text
*.obj text

*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.jpe binary
*.jfif binary

*.gmeta text
*.gscene text
*.gobj4 text
